/*
* @Author: 张聪
* @Date:   2017-07-22 15:54:50
* @Last Modified by:   张聪
* @Last Modified time: 2017-07-24 08:40:27
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: "苹方";
}
/* 头部开始 */
header{
	width: 100%;
	height: 0.92rem;
	background: #0078E6;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header1{
	width: 100%;
	height: 0.92rem;
}
.youyike{
	width: 2.01rem;
	height: 0.67rem;
	/* background: red; */
	margin: 0.13rem auto 0.12rem;
	line-height: 0.67rem;
}
.youyikeicon{
	width: 0.7rem;
	height: 0.67rem;
	float: left;
}
.youyikeicon img{
	display: block;
	width: 100%;
	height: 100%;
}
.youyike span{
	display: block;
	float: right;
	font-size: 0.35rem;
	color: white;
	font-weight: bolder;
}
/* 头部结束 */
/* BAnner开始 */
.banner{
	width: 100%;
	height: 2.8rem;
}
.banner1{
	width: 100%;
	height: 2.8rem;
}
.banner1 img{
	display: block;
	width: 100%;
	height: 100%;
}
/* Banner结束 */
/* 导航开始 */
nav{
	width: 100%;
	height: 0.82rem;
	background: #F5F6FA;
	overflow: hidden;
}
.navi{
	height: 0.22rem;
	margin-top: 0.3rem;
	margin-left: 0.23rem;
	font-size: 0;
	line-height: 0.22rem;
}
.home{
	font-size: 0.22rem;
	color: #494747;
}
/* 导航结束 */
/* 热门问题开始 */
.issue{
	width: 100%;
	height: 13.95rem;
	background: #F5F6FA;
	overflow: hidden;
}
.issue1{
	width: 7.02rem;
	height: 13.85rem;
	background: white;
	margin: 0 auto;
}
.issue1 li{
	width: 100%;
	height: 2.71rem;
	overflow: hidden;
}
.left{
	width: 0.12rem;
	height: 0.66rem;
	margin-top: 0.32rem;
	margin-left: 0.16rem;
	float: left;
}
.left-top{
	width: 0.04rem;
	height: 0.2rem;
	background: #01B5FF;
	margin-left: 0.03rem;
}
.left-bottom{
	width: 0.12rem;
	height: 0.12rem;
	background: #01B5FF;
	border-radius: 50%;
	margin-top: 0.33rem;
	overflow: hidden;
	box-shadow: 0 0.02rem 0.1rem 0.02rem #01B5FF;
}
.neiyuan{
	width: 0.04rem;
	height: 0.04rem;
	border: 0.02rem solid white;
	margin: 0.02rem auto;
	border-radius: 50%;
}
.right{
	width: 6.4rem;
	height: 2.4rem;
	border-bottom: 0.01rem dashed #999999;
	float: left;
	margin-top: 0.24rem;
	margin-left: 0.14rem;
	font-size: 0;
}
.right-top{
	display: block;
	font-size: 0.23rem;
	color: #444444;
}
.right p{
	padding-top: 0.1rem;
	font-size: 0.23rem;
	color: #666666;
}
.more{
	display: block;
	width: 6.4rem;
	height: 0.23rem;
	text-align: center;
	line-height: 0.23rem;
	font-size: 0.23rem;
	color: #FF9300;
	margin-top: 0.2rem;
}
/* 热门问题结束 */
/* 翻页开始 */
.fanye{
	width: 100%;
	height: 0.7rem;
	background: white;
	overflow: hidden;
}
.fanye-key{
	/* width: 4.69rem; */
	height: 0.32rem;
	margin-left: 0.37rem;
	margin-top: 0.19rem;
	float: left;
}
.waibian{
	display: block;
	width: 0.56rem;
	height: 0.29rem;
	border: 0.01rem solid #9B9B9B;
	border-radius: 0.13rem;
	float: left;
}
.neibian{
	width: 0.48rem;
	height: 0.23rem;
	border: 0.01rem solid #333333;
	border-radius: 0.1rem;
	margin: 0.02rem auto;
	text-align: center;
	line-height: 0.23rem;
	font-size: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 360297 */
  src: url('http://at.alicdn.com/t/font_mh73lxr8eqoxbt9.eot');
  src: url('http://at.alicdn.com/t/font_mh73lxr8eqoxbt9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_mh73lxr8eqoxbt9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_mh73lxr8eqoxbt9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_mh73lxr8eqoxbt9.svg#iconfont') format('svg');
}
.iconfont1{
	font-family: 'iconfont';
	font-size: 0.16rem;
	color: #383838;
}
.waibian1{
	display: block;
	width: 0.3rem;
	height: 0.3rem;
	border: 0.01rem solid #9B9B9B;
	border-radius: 50%;
	float: left;
	margin-left: 0.1rem;
}
.neibian1{
	width: 0.24rem;
	height: 0.24rem;
	border: 0.01rem solid #333333;
	border-radius: 50%;
	margin: 0.02rem auto;
	text-align: center;
	line-height: 0.24rem;
	font-size: 0;
}
.shuzi{
	font-size: 0.1rem;
	color: #000000;
}
.waibian2{
	width: 0.3rem;
	height: 0.3rem;
	background: #01B5FF;
	/* border: 0.01rem solid #9B9B9B; */
	border-radius: 50%;
	float: left;
	margin-left: 0.15rem;
	box-shadow: 0 0.03rem 0.1rem 0.02rem #82DBFF;
}
.neibian2{
	width: 0.24rem;
	height: 0.24rem;
	border: 0.01rem solid white;
	border-radius: 50%;
	margin: 0.02rem auto;
	text-align: center;
	line-height: 0.24rem;
	font-size: 0;
}
.shuzi1{
	font-size: 0.1rem;
	color: white;
}
.shengluv{
	width: 0.26rem;
	height: 0.02rem;
	margin-top: 0.19rem;
	margin-left: 0.19rem;
	float: left;
}
.shengluv li{
	width: 0.02rem;
	height: 0.02rem;
	background: black;
	margin-right: 0.02rem;
	float: left;
}
.shengluv li:last-child{
	margin-right: 0rem
}
.waibian3{
	display: block;
	width: 0.56rem;
	height: 0.29rem;
	border: 0.01rem solid #9B9B9B;
	border-radius: 0.13rem;
	float: left;
	margin-left: 0.19rem;
}
.tiaozhuan{
	height: 0.33rem;
	float: left;
	/* margin-left: 0.35rem; */
	margin-top: 0.17rem;
	text-align: center;
	line-height: 0.33rem;
	font-size: 0;
}
.tiao{
	display: block;
	font-size: 0.14rem;
	color: #111111;
	float: left;
	padding-right: 0.05rem;
}
.tiao1{
	display: block;
	font-size: 0.14rem;
	color: #111111;
	float: left;
	padding-left: 0.05rem;
}
.waibian4{
	width: 0.56rem;
	height: 0.29rem;
	border: 0.01rem solid #DAD9D9;
	border-radius: 0.13rem;
	float: left;
}
.neibian4{
	width: 0.48rem;
	height: 0.23rem;
	border: 0.01rem solid #DAD9D9;
	border-radius: 0.1rem;
	margin: 0.02rem auto;
	/* text-align: center; */
	/* line-height: 0.23rem; */
	/* font-size: 0; */
}
/* 翻页结束 */
/* 底部开始 */
footer{
	width: 100%;
	height: 1.5rem;
	background: #F5F6FA;
	overflow: hidden;
}
.banquan{
	display: block;
	width: 100%;
	height: 0.22rem;
	text-align: center;
	font-size: 0.22rem;
	color: #666666;
	margin-top: 0.4rem;

}
.banquan1{
	display: block;
	width: 100%;
	height: 0.22rem;
	text-align: center;
	font-size: 0.22rem;
	color: #666666;
	margin-top: 0.18rem;
}
/* 底部结束 */