/*
* @Author: 张聪
* @Date:   2017-07-13 14:45:33
* @Last Modified by:   张聪
* @Last Modified time: 2017-07-17 14:03:25
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: '苹方 常规','微软雅黑';
}
/* 头部开始 */
header{
    width: 100%;
    height: 40px;
    background: #333333;
}
main{
	width: 1226px;
	height: 100%;
	/* background: pink; */
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
}
.header-left{
	height: 40px;
	background: #333333;
	float: left;
}
.header-left li{
    float: left;
}
.header-left li a{
	font-size: 11px;
    color: #B0B0B0;
    padding-left: 8px;
    padding-right: 9px;
    line-height: 40px;
    border-right: 1px solid #424242;
}
.header-left li a:hover{
	color: white;
}
.header-left li .first{
    padding-left: 0px;
}
.header-left li .last{
    border-right: none;
}
.head-right{
	width: 279px;
	height: 40px;
	float: right;
	background: #333333;
}
.login{
	height: 40px;
	background: #333333;
	float: left;
}
.login li{
	float: left;
}
.login li a{
	font-size: 11px;
	color: #B0B0B0;
	line-height: 40px;
	padding-left: 7px;
	padding-right: 8px;
	border-right: 1px solid #424242;
}
.login li a:hover{
	color: white;
}
.login li .fist{
	padding-left: 0px;
}
.login li .last{
    border-right: none;
	padding-left: 12px;
}
.car{
	display: block;
    width: 120px;
    height: 40px;
    background: #424242;
    float: right;
	position: relative;
}
.icon{
	width: 20px;
	height: 14px;
	background: url('../img/QQ图片20170713143818_03.png') no-repeat;
	background-size: 20px 14px;
	margin-top: 14px;
	margin-left: 16px;
	float: left;
}
.gouwuche{
	font-size: 11px;
	color: #B0B0B0;
	float: left;
	margin-left: 4px;
	margin-top: 14px;
}
.car:hover{
	background: white;
}
.car:hover .icon{
	background: url('../img/搜狗截图17年07月13日1649_2_03.png') no-repeat;
	background-size: 20px 14px;
}
.car:hover .gouwuche{
	color: #FF6700;
}
.gouwu{
	width:316px;
	height: 98px;
	background: white;
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 100;
	/*transition: 0.5s;*/
	text-align: center;
	line-height: 100px;
    overflow: hidden;
	display: none;
}
/*.car:hover .gouwu{
	box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);
}*/
.xinxi{
	font-size: 11px;
	color: #B0B0B0;
	/*display: none;*/
}
/* 头部结束 */
/* 导航开始 */
.navi{
	width: 100%;
	height: 100px;
	background: white;
	position: relative;
}
.llift{
	width: 244px;
	height: 100px;
	float: left;
}
.nav-left{
	float: left;
	width: 55px;
	height: 55px;
	background: red;
	margin-top: 22px;
	margin-right: 4px;
}
.gif{
	float: left;
	width: 180px;
	height: 66px;
	background: red;
	margin-top: 17px;
	margin-right: 5px;
}
nav{
	height: 100%;
	float: left;
	background: white;
    position: relative;
}
nav li{
	float: left;
    padding-right: 20px;
}
nav li a{
	display: block;
	width:100%;
	height:100%;
	font-size: 16px;
	color: #333333;
	line-height: 100px;

}
nav li:hover a{
	color: #FF6700;
}
.extend{
	width: 100%;
	height: 0;
	background: white;
	border-top: 0px solid rgb(224,224,224);
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 300;
	transition: 0.4s;
    overflow: hidden;
	/*display: none;*/
}
.shang1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}
.shang1:first-child{
    display: block;
}
.shangpin1,.shangpin2{
	width: 203px;
	height: 100px;
	border-right: 1px solid rgb(224,224,224);
	margin-top: 35px;
	float: left;
	text-align: center;
	position: relative;
}
.shangpin2{
	border-right: none;
}
.xiaomi5x{
	width:100%;
	height: auto;
	text-align: center;
	font-size: 12px;
	color: rgb(51,51,51);
	margin-top: 20px;
}
.jia{
	width:100%;
	height: auto;
	text-align: center;
	font-size: 12px;
	color: rgb(255,103,0);
	margin-top: 8px;
}
.remai{
	width: 64px;
	height: 20px;
	border: 1px solid rgb(255,103,0);
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: -35px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: rgb(255,103,0);
}
.nav-right{
	width: 296px;
	height: 50px;
	background: white;
	margin-top: 25px;
	float: right;
	position: relative;
}
.nav-right:hover .tex{
	border: 1px solid #A9A9A9;
}
.nav-right:hover .tijiao{
	border-top: 1px solid #A9A9A9;
	border-bottom: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
}
.tex{
	width: 233px;
	height: 48px;
	float: left;
	border: 1px solid rgb(221,221,221);
	outline: none;
	padding-left: 10px;
}
.inputkuang{
	width:243px;
	height: 331px;
	background: white;
	border-left: 1px solid rgb(255,103,0);
	border-right: 1px solid rgb(255,103,0);
	border-bottom: 1px solid rgb(255,103,0);
	position: absolute;
	top: 50px;
	left:0;
	z-index: 300;
	display: none;
}

.tijiao{
	width: 51px;
	height: 50px;
	float: right;
	background: url('../img/QQ图片243818_03.png') no-repeat center center;
	background-size: 52px 50px;
	border-top: 1px solid rgb(221,221,221);
	border-bottom: 1px solid rgb(221,221,221);
	border-right: 1px solid rgb(221,221,221);
	border-left: none;
    cursor: pointer;
}
.sousuo1{
	width: 53px;
	height: 21px;
	background: #F1F1F1;
	position: absolute;
	left: 94px;
	top: 16px;
}
.sousuo1:hover{
	background: #FF6700;
}
.sousuo2{
	width: 82px;
	height: 21px;
	background: #F1F1F1;
	position: absolute;
	left: 152px;
	top: 16px;
}
.sousuo2:hover{
	background: #FF6700;
}
.zi{
	font-size: 11px;
	color: #757575;
    margin-left: 5px; 
}
.sousuo1:hover .zi{
    color: white;
}
.sousuo2:hover .zi{
    color: white;
}
.tijiao:hover{
	background: url('../img/搜狗截图17年07月1日1933_4_03.png') no-repeat center center;
	background-size: 50px 48px;
}

.inputkuang ul{
	width: 100%;
	height: 100%;
}
.inputkuang ul li{
	width: 100%;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	box-sizing: border-box;
}
.inputkuang ul li a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	margin-left: -15px;
}
.inputkuang ul li a:hover{
	background: rgb(250,250,250);
}
.inputkuang ul li span:first-child{
	font-size: 11px;
	color: #424242;
}
.inputkuang ul li span:last-child{
	float: right;
	font-size: 11px;
	color: #B5B5B5;
}
/* 导航结束 */
/* Banner开始 */
.bannerPart{
	width:100%;
	height:460px;
	overflow: hidden;
	margin-bottom: 14px;
}
.banners{
	z-index: 200;
	overflow: hidden;
}
.banner{
	width:100%;
	height: 100%;
	position: relative;
}
.banner li{
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	/*transition: all 2s ease;*/
	/*display: block;*/
}
/*.banner li:first-child{
	left: 0;
}*/
.lunbodian{
	width: 110px;
	height: 10px;
	position: absolute;
	right: 35px;
	bottom: 25px;
	z-index: 11;
	display: flex;
	justify-content: space-between;
}
.lunbodian li{
	width: 6px;
	height: 6px;
	background: #15161B;
	border: 2px solid #5B5C5F;
	border-radius: 50%;
	cursor: pointer;
}
.lunbodian li:hover{
	background: #7C7C81;
	border: 2px solid #48484C;
}
#circle{
	background: #7C7C81;
	border: 2px solid #48484C;
}
.circle{
	background: #7C7C81;
	border: 2px solid #48484C;
}
.back{
	width: 41px;
	height: 69px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 233px;
	text-align: center;
	line-height: 69px;
	z-index: 999;
}
.back:hover{
	background: rgba(0,0,0,0.5);
}
.icon-houtui:before{
	font-size: 40px;
	color: white;
}
.forward{
	width: 41px;
	height: 69px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	text-align: center;
	line-height: 69px;
	z-index: 999;
}
.forward:hover{
	background: rgba(0,0,0,0.5);
}
.icon-qianjin:before{
	font-size: 40px;
	color: white;
}
aside{
	width: 233px;
	height: 420px;
	background: rgba(14,16,19,0.7);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 200;
	padding: 20px 0;
}
aside li{
	width: 100%;
	height: 42px;
	/*box-sizing: border-box;*/
}
aside .lis:hover{
	background: #FF6700;
}
aside li .slide{
	display: block;
	width: 203px;
	height: 100%;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 42px;
	padding-left: 30px;
}
@font-face {
	font-family: 'iconfont';  /* project id 380280 */
	src: url('https://at.alicdn.com/t/font_380280_4jpef4d50htfn7b9.eot');
	src: url('https://at.alicdn.com/t/font_380280_4jpef4d50htfn7b9.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_380280_4jpef4d50htfn7b9.woff') format('woff'),
	url('https://at.alicdn.com/t/font_380280_4jpef4d50htfn7b9.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_380280_4jpef4d50htfn7b9.svg#iconfont') format('svg');
}
.iconf{
	font-family: 'iconfont';
	float: right;
	margin-right: 15px;
	font-size: 24px;
	color: #dbdad9;
	margin-top: -3px;
}
.item{
	height: 458px;
	border-top: 1px solid rgb(224,224,224);
	border-right: 1px solid rgb(224,224,224);
	border-bottom: 1px solid rgb(224,224,224);
	background: white;
	position: absolute;
	left: 233px;
	top: 0;
	z-index: 100;
	display: none;
}
.block{
	display: block;
}
.none{
	display: none;
}
aside li:nth-of-type(1) .item{
	width:795px;
}
aside li:nth-of-type(2) .item{
	width:530px;
}
aside li:nth-of-type(3) .item{
	width:992px;
}
aside li:nth-of-type(4) .item{
	width:992px;
}
aside li:nth-of-type(5) .item{
	width:530px;
}
aside li:nth-of-type(6) .item{
	width:992px;
}
aside li:nth-of-type(7) .item{
	width:265px;
}
aside li:nth-of-type(8) .item{
	width:265px;
}
aside li:nth-of-type(9) .item{
	width:265px;
}
aside li:nth-of-type(10) .item{
	width:265px;
}
.item li{
	width: 265px;
	height: 76px;
	/*background: red;*/
	float: left;
}
.item li .mi{
	display: block;
	width: 170px;
	height: 41px;
	padding-top: 18px;
	padding-left: 20px;
	padding-bottom: 18px;
	float: left;
	line-height: 41px;
}
.item li .mi:hover .mi6{
	color: rgb(255,103,0);
}
.item li .mi img{
	float: left;
	width:40px;
	height: 40px;
	margin-right: 12px;
}
.item li .mi span{
	display: block;
	float: left;
	font-size: 14px;
	color: rgb(51,51,51);
}
.xuangou{
	display: block;
	width:58px;
	height: 22px;
	border: 1px solid rgb(255,103,0);
	float: right;
	margin-top: 25px;
	text-align: center;
	line-height: 18px;
}
.xuangou:hover{
	background: rgb(255,103,0);
}
.xuangou:hover .xuan{
	color: white;
}
.xuangou span{
	font-size: 11px;
	color: rgb(255,103,0);
}
.zuopart{
	width: 795px;
	float: left;
}
.youpart{
	float: right;
	width: 197px;
	height: 460px;
}
.youpart li{
	width: 197px;
	height: 77px;
}
/* Banner结束 */
/* 热门部分 */
.hot{
	width: 100%;
	height: 170px;
	background: white;
	margin-bottom: 44px;
}
.huodong{
	width: 234px;
	height: 170px;
	background: #5F5750;
	float: left;
	margin-right: 14px;
	position: relative;
}
.huodong ul{
	width: 228px;
	height: 164px;
	padding: 3px;
}
.huodong ul li{
	float: left;
	width: 70px;
	height: 82px;
	padding: 0 3px;
}
.huodong ul li a{
	display: block;
	padding-top: 10px;
	width: 70px;
	height: 46px;
	text-align: center;
}
@font-face {
	font-family: 'iconfont';  /* project id 382729 */
	src: url('https://at.alicdn.com/t/font_382729_pruzmi1x2sz1714i.eot');
	src: url('https://at.alicdn.com/t/font_382729_pruzmi1x2sz1714i.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_382729_pruzmi1x2sz1714i.woff') format('woff'),
	url('https://at.alicdn.com/t/font_382729_pruzmi1x2sz1714i.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_382729_pruzmi1x2sz1714i.svg#iconfont') format('svg');
}
.iconfont_1{
	display: block;
	font-family: 'iconfont';
	font-size: 34px;
	font-weight: bolder;
	color: rgb(205,202,200);
}
.huodong ul li a span{
	font-size: 11px;
	color: rgb(205,202,200);
}
.huodong ul li a:hover .iconfont_1{
	color: rgb(250,250,250);
}
.huodong ul li a:hover span{
	color: rgb(250,250,250);
}
.fenge1,.fenge2,.fenge6,.fenge7{
	width: 1px;
	height: 70px;
	background: rgb(102,94,87);
	position: absolute;
	top: 9px;
	left: 79px;
}
.fenge2{
	left: 155px;
}
.fenge3,.fenge4,.fenge5{
	width: 64px;
	height: 1px;
	background: rgb(102,94,87);
	position: absolute;
	top: 84px;
	left: 9px;
}
.fenge4{
	left: 85px;
}
.fenge5{
	left: 161px;
}
.fenge6{
	top: 91px;
}
.fenge7{
	left: 155px;
	top: 91px;
}
.hot1{
	width: 316px;
	height: 170px;
	background: red;
	float: left;
	margin-right: 15px;
}
.hot1:hover{
    box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.3);
    transition: all 1s;
}
.hot1 img{
	width: 316px;
}
.hot3{
	width: 316px;
	height: 170px;
	background: red;
	float: left;
    transition: all 0.5s;
}
.hot3:hover{
    box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.3);
}
.hot3 img{
	width: 316px;
}
/* 热门结束 */
/* 单品开始 */
.danpin{
	width: 100%;
	height: 380px;
	background: white;
	margin-bottom: 40px;
	position: relative;
}
.name{
	display: block;
	font-size: 20px;
	color: #333333;
	margin-bottom: 19px;
	font-weight: bolder;
}
@font-face {
	font-family: 'iconfont';  /* project id 382729 */
	src: url('https://at.alicdn.com/t/font_382729_n9e4vr3ybdml5wmi.eot');
	src: url('https://at.alicdn.com/t/font_382729_n9e4vr3ybdml5wmi.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_382729_n9e4vr3ybdml5wmi.woff') format('woff'),
	url('https://at.alicdn.com/t/font_382729_n9e4vr3ybdml5wmi.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_382729_n9e4vr3ybdml5wmi.svg#iconfont') format('svg');
}
.iconfont3{
	font-family: 'iconfont';
	font-size: 20px;
	color: rgb(224,224,224);
	transition: .5s;
}
.iconfont4{
	font-family: 'iconfont';
	font-size: 20px;
	color: rgb(176,176,182);
	transition: .5s;
}

.fanye{
	float: right;
	width: auto;
	height: auto;
	overflow: hidden;
}
.fanye1{
	float: left;
	width: 34px;
	height: 22px;
	border: 1px solid #E0E0E0;
	margin-top: 9px;
	text-align: center;
	line-height: 22px;
	cursor: default;
}
/*.fanye1:hover .iconfont3{
    color: rgb(255,103,0);
}*/
.fanye2{
	float: left;
	width: 34px;
	height: 22px;
	border: 1px solid #E0E0E0;
	margin-top: 9px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
}
/*.fanye2:hover .iconfont4{
    color: rgb(255,103,0);
}*/
.danpin1{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	margin-right: 14px;
	float: left;
	border-top: 1px solid #FFAC13;
}
.img1{
	display: block;
    width: 128px;
    margin-top: 42px;
    margin-left: 44px;
    margin-bottom: 33px;
}
.introduce{
	width: 100%;
	height: 12px;
	/* background: #FAFAFA; */
	font-size: 12px;
	color: #212121;
	text-align: center;
	margin-bottom: 11px;
}
.introduce a{
	color: #212121;
}
.introduce1{
	width: 100%;
	height: 11px;
	/* background: #FAFAFA; */
	font-size: 11px;
	color: #B0B0B0;
	text-align: center;
	margin-bottom: 20px;
}
.price{
	width: 100%;
	height: 12px;
	/* background: #FAFAFA; */
	font-size: 12px;
	color: #FF6709;
	text-align: center;
}
.danpin2{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	margin-right: 14px;
	float: left;
	border-top: 1px solid #83C44E;
}
.danpin3{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	margin-right: 14px;
	float: left;
	border-top: 1px solid #2196F3;
}
.danpin4{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	margin-right: 14px;
	float: left;
	border-top: 1px solid #E53935;
}
.danpin5{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	float: left;
	border-top: 1px solid #00C0A5;
}
.hidden{
	overflow: hidden;
}
.main1{
    width: 2452px;
    height: 339px;
    transition: 1s;
}
/* 单品结束 */
/* 家电开始 */
.jiadian{
	width: 100%;
	height: 655px;
	background: #F5F5F5;
	padding-top: 78px;
}
.jiadian main{
	position: relative;
}
.hot_right{
	float: right;
	width: auto;
	height: auto;
	overflow: hidden;
}
.jiadian .name a{
	float: left;
	font-size: 15px;
	color: #424242;
	margin-top: 10px;
	margin-left: 30px;
	/*text-decoration: underline;*/
}
.jiadian .name a:hover{
	color: #FF6709;
	border-bottom: 2px solid #FF6700;
}
/*.jiadian .name .all{
	float: right;
	width: 20px;
	height: 20px;
	background: url('../img/20170713143818_03.png') no-repeat;
    background-size: 20px 20px;
}*/
.jiadian1{
	width: 234px;
	height: 614px;
	background: white;
	margin-right: 14px;
	float: left;
	transition: all 0.5s;
}
.jiadian1:hover{
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.jiadian2{
	width: 234px;
	height: 300px;
	background: white;
	margin-right: 14px;
	margin-bottom: 14px;
	float: left;
	position: relative;
	overflow: hidden;
}
.jiadian2:hover{
	box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.fudong{
	width: 100%;
	height: 90px;
	background: #FF6700;
	position: absolute;
	left: 0;
	bottom: -90px;
	transition: all 0.5s;
}
.fudong span{
	display: block;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 11px;
	padding-left: 30px;
	padding-right: 36px;
}
.fudong .pingjia{
	color: #FFB787;
    padding-top: 14px;
}
.jiadian2:hover .fudong{
	bottom: 0;
}
.img2{
	display: block;
    width: 128px;
    margin-top: 28px;
    margin-left: 54px;
    margin-bottom: 33px;
}
.jiadian3{
	width: 234px;
	height: 300px;
	background: white;
	/* margin-right: 14px; */
	margin-bottom: 14px;
	float: left;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.jiadian3:hover{
	box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.jiadian3:hover .fudong{
	bottom: 0;
}
.jiadian4{
	width: 234px;
	height: 300px;
	background: white;
	margin-right: 14px;
	float: left;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.jiadian4:hover{
	box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.jiadian4:hover .fudong{
	bottom: 0;
}
.jiadian5{
	width: 234px;
	height: 300px;
	background: white;
	/* margin-right: 14px; */
	float: left;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.jiadian5:hover{
	box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.jiadian5:hover .fudong{
	bottom: 0;
}
.jiadian ul li{
	position: absolute;
	left: 248px;
	top: 45px;
	display: block;
}
/* 家电结束 */
/* 智能开始 */
.zhineng{
	width: 100%;
	height: 697px;
	background: #F5F5F5;
	/* padding-top: 78px; */
}
.zhineng .name{
	display: block;
	font-size: 20px;
	color: #333333;
	padding-top: 40px;
	margin-bottom: 19px;
	font-weight: bolder;
}
.zhineng .name a{
	float: left;
	font-size: 15px;
	color: #424242;
	margin-top: 10px;
	margin-left: 30px;
}
.zhineng .name a:hover{
	color: #FF6709;
    border-bottom: 2px solid #FF6700;
}
.zhineng1{
	/* display: block; */
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	transition: all 0.5s;
}
.zhineng1:hover{
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.zhineng2{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.zhineng2:hover{
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.fudong{
	width: 100%;
	height: 90px;
	background: #FF6700;
	position: absolute;
	left: 0;
	bottom: -90px;
	transition: all 0.5s;
}
.fudong span{
	display: block;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 11px;
	padding-left: 30px;
	padding-right: 36px;
}
.fudong .pingjia{
	color: #FFB787;
    padding-top: 14px;
}
.zhineng2:hover .fudong{
	bottom: 0;
}
.zhineng3{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	/* margin-right: 14px; */
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.zhineng3:hover{
	box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.zhineng3:hover .fudong{
	bottom: 0;
}
.zhineng4{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-right: 14px;
	/* margin-bottom: 14px; */
	transition: all 0.5s;
}
.zhineng4:hover{
	box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.zhineng5{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-right: 14px;
	/* margin-bottom: 14px; */
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}
.zhineng5:hover{
	box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.zhineng5:hover .fudong{
	bottom: 0;
}
.zhineng6{
	width: 234px;
	height: 143px;
	background: white;
	float: left;
	margin-bottom: 14px;
	transition: all 0.5s;
}
.zhineng6:hover{
    box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.zhineng6-left{
	width: 90px;
	height: 40px;
	float: left;
	margin-top: 44px;
	margin-left: 30px;
}
.zhineng6-left a{
	display: block;
	font-size: 12px;
	color: #333333;
}
.zhineng6-left .jiage{
	margin-top: 15px;
	font-size: 11px;
	color: #FF6700;
}
.zhineng6-right{
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.zhineng7{
	width: 234px;
	height: 143px;
	background: white;
	float: left;
	transition: all 0.5s;
}
.zhineng7:hover{
    box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.zhineng7-left{
	width: 90px;
	height: 40px;
	float: left;
	margin-top: 44px;
	margin-left: 30px;
}
.zhineng7-left a{
	display: block;
	font-size: 17px;
	color: #333333;
}
.zhineng7-left .jiage{
	margin-top: 8px;
	font-size: 11px;
	color: #757575;
}
.zhineng7-right{
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.zhineng ul li{
	position: absolute;
	left: 0px;
	top: 90px;
	display: block;
}
/* 智能结束 */
/* 为你推荐开始 */
.weinituijian{
	width: 100%;
	height: 380px;
	background: #F5F5F5;
	overflow: hidden;
}
.tuijian{
    display: block;
	width: 100%;
	height: 22px;
	margin-top: 39px;
	margin-bottom: 19px;
	font-size: 22px;
	color: #333333;
	font-weight: bolder;
	float: left;
}
.main4{
    width: 4932px;
    height: 339px;
    margin-top: 90px;
    transition: 1s;
}
.tuijian1{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	margin-right: 14px;
	float: left;
	transition: all 0.5s;
}
.tuijian1:hover{
	box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.tuijian2{
	width: 234px;
	height: 338px;
	background: #FAFAFA;
	float: left;
	transition: all 0.5s;
}
.tuijian2:hover{
	box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
/* 为你推荐结束 */
/* 热评开始 */
.hotproduct{
	width: 100%;
	height: 495px;
	background: #F5F5F5;
	overflow: hidden;
}
.product{
	width: 100%;
	height: 21px;
	margin-top: 40px;
	margin-bottom: 19px;
}
.product span{
	font-size: 21px;
	color: #333333;
	font-weight: bolder;
}
.big-box{
	width: 296px;
	height: 415px;
	background: white;
	margin-right: 14px;
	float: left;
	transition: all 0.5s;
}
.big-box:hover{
	box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
	transform: translateY(-3px);
}
.box-top{
	display: block;
	width: 100%;
	height: 220px;
	margin-bottom: 34px;
}
.box-bottom{
	width: 238px;
	/* height: 60px; */
	margin-left: 28px;
}
.box-bottom p{
	font-size: 6px;
	color: #333333;
	line-height: 24px;
}
.yonghu{
	display: block;
	width: 100%;
	height: 11px;
	margin-top: 23px;
	margin-left: 28px;
	margin-bottom: 16px;
	font-size: 11px;
	color: #B0B0B0;
}
.bottom{
	height: 12px;
	margin-left: 28px;
}
.span1{
	font-size: 12px;
	color: #333333;
	margin-right: 9px;
}
.span2{
    color: #E0E0E0;
    margin-right: 11px;
}
.span3{
	font-size: 12px;
	color: #FF6700;
}
.big-box1{
	width: 296px;
	height: 415px;
	background: white;
	/* margin-right: 14px; */
	float: left;
	transition: all 0.5s;
}
.big-box1:hover{
	box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
	transform: translateY(-3px);
}
/* 热评结束 */
/* 内容开始 */
.content{
	width: 100%;
	height: 500px;
	background: #F5F5F5;
	overflow: hidden;
}
.neirong{
	height: 21px;
	margin-top: 40px;
	font-size: 21px;
	color: #333333;
	margin-bottom: 20px;
	font-weight: bolder;
}
.big{
	width: 296px;
	height: 419px;
	background: white;
	border-top: 1px solid #FFAC13;
	transition: all 0.5s;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 14px;
}
.big:hover{
	box-shadow: 0 1px 20px 1px rgba(0, 0, 0, .3);
	transform: translateY(-3px);
}
.big:hover .zuobian{
	left: 0;
}
.big:hover .youbian{
	right: 0;
}


.zuobian{
	display: block;
	width: 20px;
	height: 48px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: -20px;
	background: #DEDEDE;
	text-align: center;
	line-height: 48px;
	cursor: default;
	z-index: 666;
}
.iconfont5{
	display: block;
	font-family: 'iconfont';
	font-size: 30px;
	color: white;
	margin-left: -5px;
}
.zuobian:hover{
	background: #8D8D8D;
}
.big .youbian{
	display: block;
	width: 20px;
	height: 48px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: -20px;
	background: #DEDEDE;
	/*text-align: center;*/
	line-height: 48px;
	cursor: pointer;
	z-index: 666;
}
.iconfont6{
	display: block;
	font-family: 'iconfont';
	font-size: 30px;
	color: white;
	margin-left: -3px;
}
.youbian:hover{
	background: #8D8D8D;
}
.tushu{
	display: block;
	width: 100%;
	font-size: 15px;
	color: #FFAC13;
	text-align: center;
	margin-top:  50px;
}
.part_1{
	position: relative;
}
.part_1 li{
	width:100%;
	position: absolute;
	top: 0;
	left: 296px;
	background: white;
	/*transition: 1s;*/
}
.part_1 li:nth-of-type(1){
	left: 0;
}
/*.part_1 li:nth-of-type(1){
	left: 0;
}*/
.big .hali{
	display: block;
	width: 100%;
	font-size: 20px;
	color: #333333;
	text-align: center;
	margin-top: 25px;
	font-weight: bolder;
}
.big a p{
	width: 192px;
	margin-left: 52px;
	font-size: 11px;
	color: #B0B0B0;
    margin-top: 12px;
    line-height: 21px;
    text-align: center;
}
.big .jiage{
    display: block;
    width: 100%;
    font-size: 12px;
    color: #333333;
    margin-top: 19px;
    text-align: center;
    margin-bottom: 15px;
}
.image{
	display: block;
	margin-left: 45px;
}
.dian{
	width: 110px;
	height: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.dian li{
	width: 6px;
	height: 6px;
	background: rgb(176,176,176);
	/*border: 2px solid #FF6700;*/
	border-radius: 50%;
	cursor: pointer;
}
.dian li:hover{
	background: #FF6700;
}
#border{
	background: white;
	border: 2px solid #FF6700;
}
.content .big:last-of-type{
	margin-right: 0;
	border-top: 1px solid #2196F3;
}
.content .big:nth-of-type(2){
	border-top: 1px solid #83C44E;
}
.content .big:nth-of-type(3){
	border-top: 1px solid #E53935;
}

/* 内容结束 */
/* 视频开始 */
.video{
	width: 100%;
	height: 425px;
	background: #F5F5F5;
	overflow: hidden;
}
.shipin{
	width: 100%;
	height: 22px;
    margin-top: 40px;
}
.shi{
	display: block;
	width: 45px;
	height: 22px;
	font-size: 22px;
    color: #333333;
    float: left;
}
.zhuandao{
	float: right;
	width: 20px;
	height: 20px;
	background: url('../img/20170713143818_03.png') no-repeat;
    background-size: 20px 20px;
}
.quanbu{
	display: block;
	width: 64px;
	height: 15px;
	float: right;
	font-size: 15px;
	color: #424242;
	margin-top: 2px;
	margin-right: 8px;
}
.quanbu:hover{
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
	padding-bottom: 2px;
}
.video1{
	width: 296px;
	height: 285px;
	background: white;
	margin-top: 18px;
	transition: all 0.5s;
	float: left;
	margin-right: 14px;
}
.video1:hover{
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.video-top{
	width: 296px;
	height: 180px;
	position: relative;
}
.image1{
	display: block;
}
.video-bottom a{
	display: block;
	width: 100%;
	height: 12px;
	text-align: center;
	margin-top: 32px;
}
.video-bottom a span{
	font-size: 12px;
	color: #333333;
}

.video-bottom a span:hover{
	color: #FF6700;
}
.video-bottom .box{
	width: 100%;
	height: 11px;
	margin-top: 15px;
    text-align: center;    
}
.box .jieshao{
	font-size: 11px;
	color: #B0B0B0;
}
.bofang{
	width: 32px;
	height: 20px;
	background: #314755;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	position: absolute;
	left: 20px;
	top: 146px;
	text-align: center;
	line-height: 20px;
}
@font-face {
  font-family: 'iconfont';  /* project id 354532 */
  src: url('https://at.alicdn.com/t/font_8vfva6psxunpcik9.eot');
  src: url('https://at.alicdn.com/t/font_8vfva6psxunpcik9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_8vfva6psxunpcik9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_8vfva6psxunpcik9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_8vfva6psxunpcik9.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
	font-size: 11px;
	color: white;
}
.video-top:hover .bofang{
	width: 32px;
	height: 20px;
	background: #FF6700;
	border: 2px solid #FF6700;
}
.video .video1:last-of-type{
	margin-right: 0;
}
/* 视频结束 */
/* 关于开始 */
.guanyu{
	width: 100%;
	height: 272px;
	background: white;
}
.shang{
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #E1E1E1;
	overflow: hidden;
}
.shang ul{
    width: 100%;
    height: 25px;
    margin-top: 27px;
}
.shang li{
	float: left;
	width: 243px;
	height: 25px;
	border-right: 1px solid #E1E1E1;
	text-align: center;
	line-height: 25px;
}
@font-face {
  font-family: 'iconfont';  /* project id 354532 */
  src: url('https://at.alicdn.com/t/font_8e1afubaxzn3tyb9.eot');
  src: url('https://at.alicdn.com/t/font_8e1afubaxzn3tyb9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_8e1afubaxzn3tyb9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_8e1afubaxzn3tyb9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_8e1afubaxzn3tyb9.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 354532 */
  src: url('https://at.alicdn.com/t/font_jtqr7m9czrsk0529.eot');
  src: url('https://at.alicdn.com/t/font_jtqr7m9czrsk0529.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_jtqr7m9czrsk0529.woff') format('woff'),
  url('https://at.alicdn.com/t/font_jtqr7m9czrsk0529.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_jtqr7m9czrsk0529.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 354532 */
  src: url('https://at.alicdn.com/t/font_44wyaimpcscnb3xr.eot');
  src: url('https://at.alicdn.com/t/font_44wyaimpcscnb3xr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_44wyaimpcscnb3xr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_44wyaimpcscnb3xr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_44wyaimpcscnb3xr.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 354532 */
  src: url('https://at.alicdn.com/t/font_k3gra1bvd6ajor.eot');
  src: url('https://at.alicdn.com/t/font_k3gra1bvd6ajor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_k3gra1bvd6ajor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_k3gra1bvd6ajor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_k3gra1bvd6ajor.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 354532 */
  src: url('https://at.alicdn.com/t/font_k6o6t2jwh4w5qaor.eot');
  src: url('https://at.alicdn.com/t/font_k6o6t2jwh4w5qaor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_k6o6t2jwh4w5qaor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_k6o6t2jwh4w5qaor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_k6o6t2jwh4w5qaor.svg#iconfont') format('svg');
}
.iconfont1{
	font-family: 'iconfont';
	font-size: 25px;
	/* color: #606060; */
}
.fuwu{
	font-size: 15px;
	/* color: #616161; */
}
.shang ul li:last-child{
	border-right: none;
}
.shang li a{
	/* display: block; */
	color: #606060;
}
/* .fuwu:hover{
	color: #FF6709;
} */
/* .shang li .iconfont1:hover{
	color: #FF6709;
} */
.shang li:hover a{
    color: #FF6709;
}
.xia{
	width: 100%;
	height: 192px;
	background: white;
}
.xia-left{
	width: 974px;
	height: 191px;
	overflow: hidden;
	float: left;
}
.hang1{
	width: 100%;
	height: 12px;
	margin-top: 41px;
	/* background: red; */
}
.hang1 li{
	width: 160px;
	height: 12px;
	float: left;
}
.hang1 li span{
	font-size: 12px;
	color: #424242;
}
.hang2{
	width: 100%;
	height: 11px;
	margin-top: 32px;
	/* background: red; */
}
.hang2 li{
	width: 160px;
	height: 11px;
	float: left;
}
.hang2 li a{
	font-size: 11px;
	color: #757575;
}
.hang3{
	width: 100%;
	height: 11px;
	margin-top: 17px;
	/* background: red; */
}
.hang3 li{
	width: 160px;
	height: 11px;
	float: left;
}
.hang3 li a{
	font-size: 11px;
	color: #757575;
}
.xia-right{
	width: 251px;
	height: 112px;
	margin-top: 40px;
	float: right;
	border-left: 1px solid #E0E0E0;
	text-align: center;
}
.xia-right .tel{
	display: block;
	font-size: 16px;
	color: #FF6700;
	margin-top: 2px;
	font-weight: bolder;
}
.xia-right .time{
	display: block;
	font-size: 11px;
	color: #616161;
	margin-top: 12px;
}
.xia-right .huafei{
	display: block;
	font-size: 11px;
	color: #616161;
	margin-top: 7px;
}
.kefu{
	width: 118px;
	height: 28px;
	border: 1px solid #FF6700;
	margin-top: 19px;
	margin-left: 65px;
	text-align: center;
	line-height: 28px;
}
@font-face {
  font-family: 'iconfont';  /* project id 355177 */
  src: url('https://at.alicdn.com/t/font_g4fm2l9jtts7zaor.eot');
  src: url('https://at.alicdn.com/t/font_g4fm2l9jtts7zaor.eot?#iefix') format('embedded-opentype'),
  url('https:https://at.alicdn.com/t/font_g4fm2l9jtts7zaor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_g4fm2l9jtts7zaor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_g4fm2l9jtts7zaor.svg#iconfont') format('svg');
}
.kefu .iconfont2{
	font-family: 'iconfont';
	font-size: 11px;
	color: #FF6700;
	/* margin-top: 8px; */
}
.line{
	font-size: 12px;
	color: #FF6700;
}
.kefu:hover{
	border: 1px solid #FF6700;
	background: #FF6700;
}
.kefu:hover .iconfont2{
	color: white;
}
.kefu:hover .line{
	color: white;
}
/* 关于结束 */
/* 底部开始 */
footer{
	width: 100%;
	height: 106px;
	padding: 30px 0;
	background: #FAFAFA;
}
.di{
	width: 100%;
	height: 57px;
}
.part1{
	width: 56px;
	height: 57px;
	float: left;
}
.part2{
	width: 749px;
	height: 47px;
	float: left;
}
.part2 ul:first-of-type{
	width: 100%;
    height: 18px;
	margin-top: -4px;
}
.part2 li{
	float: left;
}
.part2 li a{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 6px;
	color: #757575;
	border-right: 1px solid #B0B0B0;
}
.part2 li:first-child a{
	padding-left: 5px;
}
.part2 li:last-child a{
	border-right: none;
}
.part2 li:hover a{
	color: #FF6700;
}
.part2 ul:nth-of-type(2){
	width: 100%;
    height: 12px;
    margin-top: 3px;
}
.s2 li:nth-child(2){
	font-size: 12px;
	padding-left: 5px;
	padding-right: 6px;
	color: #757575;
	border-right: 1px solid #B0B0B0;
	margin-top: 4px;
}
.part2 .s2 li a{
	border-right: none;
}
.s2 li:nth-child(2){
	border-right: none;
}
p{
	font-size: 12px;
	color: #757575;
	margin-top: 11px;
	margin-left: 5px;
}
.part3{
	width: 364px;
	height: 27px;
	/* background: red; */
	float: right;
	margin-top: 10px;
}
.image2{
	display: block;
}
.part3 img{
	margin-right: 3px;
}
.ad{
	display: block;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	color: #BEBEBE;
}
/* 底部结束 */